<div class="big-card__container">
  <div class="big-card__image">
    <img src="https://i.ytimg.com/vi/1gUV-yG2BRg/maxresdefault.jpg" alt="" />
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#"> Saiu a nova versão do Angular </a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, neque
        vero alias consectetur sed quia est nam unde, error animi nesciunt
        ducimus atque ad, eaque dignissimos. Modi vero ipsum ipsam?
      </a>
    </p>
  </div>
</div>
